[submodule "use-cases/collective-perception-intersection/kubernetes/application_manager"]
	path = use-cases/collective-perception-intersection/kubernetes/application_manager
	url = https://github.com/ika-rwth-aachen/application_manager.git
